:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  padding: 24px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 76px;
  font-size: 16px;
  font-weight: 700;
  color: grey;
  padding: 4px;
  border-bottom: 1px solid grey;
}

.menu:hover,
.menu:focus {
  border-color: #4E75FF;
  color: #4E75FF;
}
