main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  font-family: "Montserrat";
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px Solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border: 1px Solid #000000;
}

#datetime-picker:active,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
  color: #000000;
  outline: none;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  color: #808080;
}

button {
  width: 75px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-weight: 400;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: uppercase;
}

